@font-face {
    font-family: 'moonrofregular';
    src: url('fonts/moonrof_regular-webfont.woff2') format('woff2'),
         url('fonts/moonrof_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
  * {
    font-family: 'moonrofregular', sans-serif;
    box-sizing: border-box;
  }

  body {
    background-color: #1f1e1e;
    letter-spacing: 1px;  
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration-color: beige;
  }

  nav {
    background-color: #1a1919;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 0 2% 0 2%;
    position: sticky;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
  }

  .logo {
    margin: auto 20px;
    font-size: clamp(1.25rem, 4vw, 2.25rem); 
    /* font: 2.25em sans-serif; */
    letter-spacing: 4px;
    color: beige;
  }


  .homdkk li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 5px;
    font-size: clamp(0.5rem, 4vw, 1rem); 
  }

  li {
    font-size: large;
    color: beige;
  }

  .homdkk {
    margin-top: auto;
    margin-bottom: auto;
  }

  .home {
    margin-left: 2%;
    margin-right: 2%;
  }

  section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 70dvh;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .Rectangle1 {
    /* width: 550px; */
    width: clamp(100px, 60dvw, 600px);
    height: 220px;
    border-radius: 10px;
    background: #eeebda;
    display: grid;
    place-items: center;
    grid-template-columns: 35% 60%;
    column-gap: 10px;
    padding: 15px;
    transition: box-shadow .5s;
  }

  .Rectangle1:hover {
    box-shadow: 0 0 15px rgba(121, 121, 121, 0.89);
  }

  .icons {
    margin-top: 3%;
    position: relative;
    left: 25%;
  }

  button {
    width: 30%;
    height: 35px;
    margin-left: 3%;
    border-radius: 5px;
    background: transparent;
    position: static;
    transition: all 0.3s;
  }

  svg {
    margin-right: auto;
  }

  button:hover {
    cursor: pointer;
    color: white;
    background-image: linear-gradient(90deg, #f9ce34 0%, #ee2a7b 35%, #6228d7 100%);
  }

  button.linkedin:hover {
    background-image: linear-gradient(90deg, #0077b5 70%, #036294 100%);
  }
  .hi {
    display: inline-flex;
  }

  .text h1 {
    margin-top: 10px;
  }

  .details h1 {
    font-size: 35px;
    margin-bottom: 10px;
  }

  h1 {
    margin: 0 auto;
  }
  .text {
    color: beige;
    text-align: center;
    font-size: xx-large;
  }

  /*animation*/
  .text.hidden {
    opacity: 0;
    filter: blur(3px);
    transition: all 3s;
    transform: translateX(-20%);
  }

  .text.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(-10%);
  }

  img.hidden {
    opacity: 0;
    filter: blur(3px);
    transition: all 3s;
    transform: translateX(100%);
  }

  img.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(100%);
  }

  .profile {
    position: relative;
  }
 
  .profile img {
    width: 170px;
    height: 150px;
    border-radius: 10px;
  }

  p {
    margin-top:0;
  }

  h2 {
    margin-top:0;
  }

  .hidden:nth-child(odd) {
    opacity: 0;
    filter: blur(4px);
    transition: all ease 2s;
    transform: translateX(-20%);
  }
  
  .hidden:nth-child(even) {
    opacity: 0;
    filter: blur(4px);
    transition: all ease 2s;
    transform: translateX(20%);
  }

  .show:nth-child(odd) {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
  }

  .show:nth-child(even){
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  img {
    width: 70%;
    border-radius: 10px;
  }

  @media only screen and (max-width: 900px) {
    img {
      width: 90%;
    }

    h1 {
      font-size: xx-large;
    }
    .Rectangle1 {
      height: 100%;
      width: 70%;
    }
    
    .Rectangle1 img {
      size: 50%;
    }
    
  }
  @media only screen and (max-height: 1200px) {
    section {
      min-height: 55dvh;
    }
  }

  @media only screen and (max-width: 768px) {
    .Rectangle1 img {
      width: 120px;
      height: 120px;
    }

    h1 {
      font-size: x-large;
    }

    p {
      margin-bottom: 10px;
    }
    
    button {
      width: 100px;
    }

    .Rectangle1 h1 {
      font-size: 25px;
    }

    .Rectangle1 {
      gap: 15px;
      grid-template-columns: 28% 70%;
    }
    
    .Rectangle1 img {
      size: 70%;
    }
    nav {
      height: 50px;
    }
    
  }

  @media only screen and (max-width: 600px) {

 

  }

  @media only screen and (max-width: 375px) {

  }
